<div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="emailNotifications.length > 0">
  <h6 class="border-bottom border-gray pb-2 mb-0">Уведомление на почту</h6>
  <ul>
    <li *ngFor="let emailNotification of emailNotifications">
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">{{emailNotification.message.title}} (Почта {{emailNotification.email}})</strong>
              <p>{{emailNotification.message.text}}</p>
              <p>Отправлено в {{emailNotification.date}}</p>
              <button type="button" class="btn btn-dark">Закрыть</button>
            </div>
        </div>
    </li>
  </ul>
</div>
