<div class="container">
    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Почта</label>
        <br />
        <div class="col-md-4">
          <input
            formControlName="last"
            type="text"
            placeholder=""
            class="form-control input-md"
            id="textinput"
          />
        </div>
      </div>
      <div class="form-group">
          <label class="col-md-4 control-label">Пароль</label>
          <br />
          <div class="col-md-4">
            <input
              formControlName="last"
              type="text"
              placeholder="Текущий"
              class="form-control input-md"
              id="textinput1"
            />
          </div>
          <div class="col-md-4">
              <input
                formControlName="last"
                type="text"
                placeholder="Новый"
                class="form-control input-md"
                id="textinput2"
              />
            </div>
            <div class="col-md-4">
                <input
                  formControlName="last"
                  type="text"
                  placeholder="Подтвердить новый"
                  class="form-control input-md"
                  id="textinput3"
                />
              </div>
        </div>
</div>
