<div class="container col-7">
    <div class="album py-5 " *ngIf="!authenticated"></div>
    <div class="alert alert-danger" role="alert" *ngIf="!authenticated">

        Вы не можете добавить билет. Please <a [routerLink]="['/login']" >login</a>.
      </div>
  <form class="form-horizontal col-md-offset " [formGroup]="addTicketForm" (ngSubmit)="onSubmit()" *ngIf="authenticated">
  <fieldset>
      <!-- Form Name -->
      <legend>Добавление билета</legend>
      <!-- Text input-->
      <div class="form-group">
          <div class="form-input-text">
              <label>Название мероприятия: </label>
              <input type="text" formControlName="name" class="form-control">
            </div>
      </div>

      <div class="form-group row" input type="text">
          <label class=" control-label col-3 col-form-label " for="selectbasic">Бесплатный билет?</label>
          <div input type="text">
            <select id="selectbasic" name="selectbasic" formControlName="free" class="form-control">
              <option value="true" input type="text">Free</option>
              <option value="false" input type="text">Cash</option>
            </select>
          </div>
        </div>


        <div class="form-group row" input type="text">
            <label class=" control-label col-4 col-form-label" for="selectbasic">Выберите тип мероприятия</label>
          <div input type="text">
            <select id="selectbasic" name="selectbasic" formControlName="typeEvent" class="form-control">
              <option value="0" input type="text">Неизвестно</option>
              <option value="1" input type="text">Кино</option>
              <option value="2" input type="text">Концерт</option>
              <option value="4" input type="text">Театр</option>
              <option value="8" input type="text">Балет</option>
              <option value="16" input type="text">Спорт</option>
              <option value="32" input type="text">Вечеринка</option>
              <option value="64" input type="text">Тренинг</option>
              <option value="128" input type="text">Выставка</option>
              <option value="256" input type="text">Цирк</option>
            </select>
          </div>
        </div>
        <div class="form-group row">

            <label for="example-datetime-local-input" class="col-2 col-form-label">Дата события</label>
            <div>
              <input class="form-control" type="datetime-local" formControlName="timeActual" value="2019-02-12T19:00:00" >
            </div>
          </div>

      <div formGroupName="locationEvent"> <legend>Где проходит:
      </legend>
      <div class="form-row">
          <div class="form-input-text form-group col-md-4">

              <input type="text" formControlName="country" placeholder="Страна" class="form-control">
            </div>
            <div class="form-input-text form-group col-md-3">

                <input type="text" formControlName="city" placeholder="Город" class="form-control">
              </div>
          <div class="form-input-text form-group col-md-3">

              <input type="text" formControlName="street" placeholder="Улица" class="form-control">
            </div>
          <div class="form-input-text form-group col-md-2">

              <input type="number" formControlName="house" placeholder="Дом" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Ссылка на мероприятие: </label>
          <div class="form-input-text col-8">

              <input type="text" formControlName="eventLink" class="form-control">
            </div>
      </div>

          <div formGroupName="sellerAdress"> <legend>Адрес продавца:
          </legend>
          <div class="form-row">
              <div class="form-input-text form-group col-md-4">

                  <input type="text" formControlName="country" placeholder="Страна" class="form-control">
                </div>
                <div class="form-input-text form-group col-md-3">

                    <input type="text" formControlName="city" placeholder="Город" class="form-control">
                  </div>
              <div class="form-input-text form-group col-md-3">

                  <input type="text" formControlName="street" placeholder="Улица" class="form-control">
                </div>
              <div class="form-input-text form-group col-md-2">

                  <input type="number" formControlName="house" placeholder="Дом" class="form-control">
                </div>
              </div>
            </div>

            <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Телефон</label>
                <div>
                  <input class="form-control" type="tel" formControlName="sellerPhone" placeholder="+375*********">
                </div>
              </div>



      <div class="form-group">
          <label class=" control-label">Дополнительная информация</label>
        <textarea class="form-control"  rows="2" input type="text" formControlName="additionalData"></textarea>
      </div>

     <!-- Button trigger modal -->
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Добавить Билет
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       готово:) Нажмите Ок
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" role="button" href='/tickets/1'  >Ok</a>
      </div>
    </div>
  </div>
</div>
    </fieldset>
  </form>
</div>
