<form [formGroup]="userForm">
  <div class="form-row">
    <div class="col">
    </div>
    <div class="col-7">
      <label class="col-sm-2 col-form-label">{{ user.userLogin }}</label>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <strong>{{ errorMessage }}</strong>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col">
            <label class="col-sm-2 col-form-label">Roles</label>
            <ul class="list-group">
                <li class="list-group-item" [class.active]="role === selectedRole" (click)="onSelectRole(role)"
                *ngFor="let role of user.roles">{{ role.name }}</li>
              </ul>
              <div class="form-row">
                  <button type="button" *ngIf="selectedRole" class="btn btn-outline-danger" (click)="onDeleteRole()"> - </button>
                  <button type="button" *ngIf="user" class="btn btn-outline-success"  (click)="onAddRole()">+</button>
                  <div class="dropdown" *ngIf="addRolePressed">
                    <input class="form-control mb-2" type="text" id="roleNameSearch" data-toggle="dropdown" aria-haspopup="true"
                    autocomplete="off" aria-expanded="false" formControlName="roleNameSearch" (keyup)="onRoleSearch()">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                      <a class="dropdown-item" (click)="onAddRoleSelected(role)" *ngFor="let role of rolesFound">{{ role.name }}</a>
                    </div>
                  </div>
                  <button type="button" *ngIf="selectedAddRole" class="btn btn-outline-success"
                  (click)="onAddSelectedRole()">Add</button>
              </div>
        </div>
        <div class="col">
            <label class="col-sm-2 col-form-label">Functions</label>
            <ul class="list-group">
              <li class="list-group-item" [class.active]="function === selectedFunction" (click)="onSelectFunction(function)"
              *ngFor="let function of user.accessFunctions">{{ function.name }}</li>
            </ul>
            <div class="form-row">
              <button type="button" *ngIf="selectedFunction" class="btn btn-outline-danger" (click)="onDeleteFunction()"> - </button>
              <button type="button" *ngIf="user" class="btn btn-outline-success"  (click)="onAddFunction()">+</button>
              <div class="dropdown" *ngIf="addFunctionPressed">
                <input class="form-control mb-2" type="text" id="functionNameSearch" data-toggle="dropdown" aria-haspopup="true"
                autocomplete="off" aria-expanded="false" formControlName="functionNameSearch" (keyup)="onFunctionSearch()">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" (click)="onAddFunctionSelected(function)" *ngFor="let function of functionsFound">{{ function.name }}</a>
                </div>
              </div>
              <button type="button" *ngIf="selectedAddFunction" class="btn btn-outline-success"
              (click)="onAddSelectedFunction()">Add</button>
            </div>
        </div>
        <div class="col">
            <label class="col-sm-2 col-form-label">AccessRights</label>
            <ul class="list-group">
              <li class="list-group-item" [class.active]="right === selectedAccessRight" (click)="onSelectAccessRight(right)"
              *ngFor="let right of user.accessRights">{{ right.name }}</li>
            </ul>
            <div class="form-row">
              <button type="button" *ngIf="selectedAccessRight" class="btn btn-outline-danger" (click)="onDeleteAccessRight()"> - </button>
              <button type="button" *ngIf="user" class="btn btn-outline-success"  (click)="onAddAccessRight()">+</button>
              <div class="dropdown" *ngIf="addAccessRightPressed">
                <input class="form-control mb-2" type="text" id="accessRightNameSearch" data-toggle="dropdown" aria-haspopup="true"
                autocomplete="off" aria-expanded="false" formControlName="accessRightNameSearch" (keyup)="onAccessRightSearch()">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" (click)="onAddAccessRightSelected(right)" *ngFor="let right of accessRightsFound">{{ right.name }}</a>
                </div>
              </div>
              <button type="button" *ngIf="selectedAddAccessRight" class="btn btn-outline-success"
              (click)="onAddSelectedAccessRight()">Add</button>
             </div>
             <label class="col-sm-2 col-form-label">DeniedRights</label>
             <ul class="list-group">
                <li class="list-group-item" [class.active]="right === selectedDeniedRight" (click)="onSelectDeniedRight(right)"
                *ngFor="let right of user.deniedRights">{{ right.name }}</li>
              </ul>
              <div class="form-row">
                <button type="button" *ngIf="selectedDeniedRight" class="btn btn-outline-danger" (click)="onDeleteDeniedRight()"> - </button>
                <button type="button" *ngIf="user" class="btn btn-outline-success"  (click)="onAddDeniedRight()">+</button>
                <div class="dropdown" *ngIf="addDeniedRightPressed">
                  <input class="form-control mb-2" type="text" id="deniedRightNameSearch" data-toggle="dropdown" aria-haspopup="true"
                  autocomplete="off" aria-expanded="false" formControlName="deniedRightNameSearch" (keyup)="onDeniedRightSearch()">
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <a class="dropdown-item" (click)="onAddDeniedRightSelected(right)" *ngFor="let right of deniedRightsFound">{{ right.name }}</a>
                  </div>
                </div>
                <button type="button" *ngIf="selectedAddDeniedRight" class="btn btn-outline-success"
                (click)="onAddSelectedDeniedRight()">Add</button>
               </div>
        </div>
      </div>
    </div>
  </form>

