<main role="main" class="text-center">
  <form [formGroup]="functionForm" class="form-signin">
    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">New function</h1>
    <label for="inputLogin" class="sr-only">Name</label>
    <input type="login" id="functionName" formControlName="functionName" class="form-control" placeholder="Name"
    (keyup)="onFunctionNameChanged()" required autofocus>
    <div class="dropdown">
        <input class="form-control mb-2" type="text" id="featureNameSearch" data-toggle="dropdown" aria-haspopup="true"
        autocomplete="off" aria-expanded="false" formControlName="featureNameSearch" (keyup)="onSearchFeatures()">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <a class="dropdown-item" (click)="onSelectFeature(feature)" *ngFor="let feature of featuresFound">{{ feature.name }}</a>
        </div>
      </div>
    <hr _ngcontent-c10="" class="mb-4">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onAddfunction()">Create</button>
    <div class="alert alert-success" role="alert" *ngIf="secceded">
      <strong>Success!</strong>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <strong>{{ errorMessage }}</strong>
    </div>
  </form>
</main>
